n8n-workflows/secretaria-ia-multi-tenant-v3.json
{
  "name": "Secret치ria IA v3 - HTTP Puro (sem community nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secretaria-ia-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 600],
      "id": "webhook-entrada",
      "name": "Mensagem recebida",
      "webhookId": "secretaria-ia-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "id_mensagem", "value": "={{ $json.body.data.key.id }}", "type": "string" },
            { "id": "2", "name": "telefone", "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}", "type": "string" },
            { "id": "3", "name": "instancia", "value": "={{ $json.body.instance }}", "type": "string" },
            { "id": "4", "name": "mensagem", "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}", "type": "string" },
            { "id": "5", "name": "mensagem_de_audio", "value": "={{ $json.body.data.messageType === 'audioMessage' }}", "type": "boolean" },
            { "id": "6", "name": "timestamp", "value": "={{ $json.body.data.messageTimestamp }}", "type": "number" },
            { "id": "7", "name": "fromMe", "value": "={{ $json.body.data.key.fromMe }}", "type": "boolean" },
            { "id": "8", "name": "mensagem_de_grupo", "value": "={{ $json.body.data.key.remoteJid.includes('@g.us') }}", "type": "boolean" },
            { "id": "9", "name": "url_evolution", "value": "https://900f05639e55.ngrok-free.app", "type": "string" },
            { "id": "10", "name": "contact_name", "value": "={{ $json.body.data.pushName || 'Desconhecido' }}", "type": "string" },
            { "id": "11", "name": "remoteJid", "value": "={{ $json.body.data.key.remoteJid }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 600],
      "id": "set-info",
      "name": "Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/rpc/get_ai_secretary_config",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\" }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 600],
      "id": "buscar-config",
      "name": "Buscar Config Cl칤nica"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1060, 600],
      "id": "filter-clinica-ativa",
      "name": "Cl칤nica ativa?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "1", "leftValue": "={{ $('Info').item.json.fromMe }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } },
            { "id": "2", "leftValue": "={{ $('Info').item.json.mensagem_de_grupo }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1280, 600],
      "id": "filter-mensagem-valida",
      "name": "Mensagem v치lida?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/rpc/is_phone_blocked",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\", \"p_phone\": \"{{ $('Info').item.json.telefone }}\" }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 600],
      "id": "verificar-bloqueio",
      "name": "Verificar Bloqueio"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $json }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1720, 600],
      "id": "filter-nao-bloqueado",
      "name": "N칚o bloqueado?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "leftValue": "={{ $('Info').item.json.mensagem }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }, "id": "1" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "2", "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "츼udio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1940, 600],
      "id": "switch-tipo-mensagem",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/n8n_fila_mensagens",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefone\": \"{{ $('Info').item.json.telefone }}\",\n  \"mensagem\": \"{{ $('Info').item.json.mensagem }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"id_mensagem\": \"{{ $('Info').item.json.id_mensagem }}\",\n  \"instancia\": \"{{ $('Info').item.json.instancia }}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 500],
      "id": "enfileirar-msg",
      "name": "Enfileirar mensagem"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Buscar Config Cl칤nica').first().json;\nconst waitTimeout = config.behavior?.wait_timeout_ms || 8000;\nconst waitSeconds = Math.ceil(waitTimeout / 1000);\nreturn [{ json: { wait_seconds: waitSeconds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 500],
      "id": "calc-wait-time",
      "name": "Calcular tempo de espera"
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 500],
      "id": "wait-fila",
      "name": "Esperar mensagens",
      "webhookId": "wait-fila"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/n8n_fila_mensagens?telefone=eq.{{ $('Info').item.json.telefone }}&instancia=eq.{{ $('Info').item.json.instancia }}&order=timestamp.asc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2820, 500],
      "id": "buscar-fila",
      "name": "Buscar mensagens da fila"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens da fila (cada elemento do array do Supabase vira um item separado no n8n)\nconst mensagens = $input.all().map(item => item.json);\nif (mensagens.length === 0) return [];\n\nconst ultima = mensagens[mensagens.length - 1];\nconst mensagem_do_workflow = $('Info').first().json;\n\n// Se a 칰ltima mensagem na fila n칚o for a mensagem deste workflow,\n// significa que outra execu칞칚o vai processar todas as mensagens\nif (ultima.id_mensagem !== mensagem_do_workflow.id_mensagem) {\n  return [];\n}\n\nreturn mensagens.map(m => ({ json: m }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 500],
      "id": "code-encavalada",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/n8n_fila_mensagens?telefone=eq.{{ $('Info').item.json.telefone }}&instancia=eq.{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3260, 500],
      "id": "limpar-fila",
      "name": "Limpar fila"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.mark_as_read ?? true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3480, 500],
      "id": "check-mark-read",
      "name": "Marcar como lida?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"readMessages\": {{ JSON.stringify($('Mensagem encavalada?').all().map(mensagem => ({ id: mensagem.json.id_mensagem, remoteJid: mensagem.json.telefone + '@s.whatsapp.net', fromMe: false }))) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3700, 400],
      "id": "marcar-lidas",
      "name": "Marcar como lidas",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "1", "name": "mensagem", "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\n') }}", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3920, 500],
      "id": "concatenar-msgs",
      "name": "Concatenar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pakusdbmpgrfhjouiniz.supabase.co/rest/v1/rpc/generate_ai_secretary_prompt",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBha3VzZGJtcGdyZmhqb3Vpbml6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM5NTgyMCwiZXhwIjoyMDgwOTcxODIwfQ.iH58aTCbhkIUNGGAWRtSSdo_eSaLjs23fgsaCRKfYL8" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\" }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4140, 500],
      "id": "gerar-prompt",
      "name": "Gerar Prompt Din칙mico"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.send_typing_indicator ?? true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4360, 500],
      "id": "check-typing",
      "name": "Enviar digitando?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/sendPresence/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"delay\": 1000,\n  \"presence\": \"composing\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4580, 400],
      "id": "send-typing",
      "name": "Enviar 'digitando...'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Concatenar mensagens').item.json.mensagem }}",
        "options": {
          "systemMessage": "={{ $('Gerar Prompt Din칙mico').item.json.replace('{data_atual}', $now.format('FFFF')).replace('{telefone_paciente}', $('Info').item.json.telefone) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [4800, 500],
      "id": "agent-secretaria",
      "name": "Secret치ria IA",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [4580, 720],
      "id": "llm-gemini",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Buscar Config Cl칤nica').item.json.clinic_id + '_' + $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [4700, 720],
      "id": "memory-postgres",
      "name": "Memory (por cl칤nica)"
    },
    {
      "parameters": { "description": "Use a ferramenta para refletir sobre algo." },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [4820, 720],
      "id": "tool-refletir",
      "name": "Refletir"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Buscar Config Cl칤nica').first().json;\nconst behavior = config.behavior || {};\n\nconst cadenceEnabled = behavior.response_cadence_enabled ?? true;\nconst minDelay = behavior.response_delay_min_ms || 1500;\nconst maxDelay = behavior.response_delay_max_ms || 4000;\nconst typingSpeed = behavior.typing_speed_cpm || 300;\n\nconst resposta = $('Secret치ria IA').first().json.output || '';\n\nlet delayMs = 0;\n\nif (cadenceEnabled) {\n  const baseDelay = Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay;\n  const charsPerMs = typingSpeed / 60000;\n  const typingDelay = Math.min(resposta.length / charsPerMs, 5000);\n  delayMs = baseDelay + typingDelay;\n}\n\nconst delaySeconds = Math.max(1, Math.ceil(delayMs / 1000));\n\nreturn [{ json: { delay_seconds: delaySeconds, resposta: resposta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5240, 500],
      "id": "calc-response-delay",
      "name": "Calcular delay humanizado"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5460, 500],
      "id": "wait-response",
      "name": "Delay humanizado",
      "webhookId": "wait-response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/sendPresence/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"delay\": 1000,\n  \"presence\": \"paused\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5680, 500],
      "id": "stop-typing",
      "name": "Parar 'digitando...'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/message/sendText/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"text\": {{ JSON.stringify($('Calcular delay humanizado').item.json.resposta) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5900, 500],
      "id": "enviar-texto",
      "name": "Responder texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.react_to_messages ?? false }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6120, 500],
      "id": "check-react",
      "name": "Reagir  mensagem?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{{ $('Buscar Config Cl칤nica').item.json.behavior?.reaction_on_greeting || '游녦' }}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6340, 400],
      "id": "send-reaction",
      "name": "Enviar rea칞칚o"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/getBase64FromMediaMessage/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Info').item.json.remoteJid }}\",\n      \"fromMe\": {{ $('Info').item.json.fromMe }},\n      \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n    }\n  },\n  \"convertToMp4\": true\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 700],
      "id": "download-audio",
      "name": "Download 치udio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [2380, 700],
      "id": "convert-audio",
      "name": "Converter para bin치rio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "pt" }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2600, 700],
      "id": "transcrever-audio",
      "name": "Transcrever 치udio (Whisper)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "minhaChaveSecreta123" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"readMessages\": [{\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\",\n    \"remoteJid\": \"{{ $('Info').item.json.remoteJid }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }}\n  }]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2820, 700],
      "id": "marcar-lida-audio",
      "name": "Marcar como lida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "1", "name": "mensagem", "value": "={{ $('Transcrever 치udio (Whisper)').item.json.text }}", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3040, 700],
      "id": "set-msg-audio",
      "name": "Set mensagem do 치udio",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# Secret치ria IA v3 - Atualizado para Evolution v2\n\n## Credenciais j치 configuradas:\n- SUPABASE: Service Role Key\n- EVOLUTION: API Key (minhaChaveSecreta123)\n- Evolution URL: https://900f05639e55.ngrok-free.app\n\n## Ainda precisa configurar no n8n:\n1. GOOGLE AI: Configure no n칩 Gemini 2.5 Pro\n2. OPENAI: Configure no n칩 Whisper\n3. POSTGRES: Configure no n칩 Memory (por cl칤nica)",
        "height": 300,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "note-config",
      "name": "Configura칞칚o v3"
    }
  ],
  "connections": {
    "Mensagem recebida": { "main": [[{ "node": "Info", "type": "main", "index": 0 }]] },
    "Info": { "main": [[{ "node": "Buscar Config Cl칤nica", "type": "main", "index": 0 }]] },
    "Buscar Config Cl칤nica": { "main": [[{ "node": "Cl칤nica ativa?", "type": "main", "index": 0 }]] },
    "Cl칤nica ativa?": { "main": [[{ "node": "Mensagem v치lida?", "type": "main", "index": 0 }]] },
    "Mensagem v치lida?": { "main": [[{ "node": "Verificar Bloqueio", "type": "main", "index": 0 }]] },
    "Verificar Bloqueio": { "main": [[{ "node": "N칚o bloqueado?", "type": "main", "index": 0 }]] },
    "N칚o bloqueado?": { "main": [[{ "node": "Tipo de mensagem", "type": "main", "index": 0 }]] },
    "Tipo de mensagem": {
      "main": [
        [{ "node": "Enfileirar mensagem", "type": "main", "index": 0 }],
        [{ "node": "Download 치udio", "type": "main", "index": 0 }]
      ]
    },
    "Enfileirar mensagem": { "main": [[{ "node": "Calcular tempo de espera", "type": "main", "index": 0 }]] },
    "Calcular tempo de espera": { "main": [[{ "node": "Esperar mensagens", "type": "main", "index": 0 }]] },
    "Esperar mensagens": { "main": [[{ "node": "Buscar mensagens da fila", "type": "main", "index": 0 }]] },
    "Buscar mensagens da fila": { "main": [[{ "node": "Mensagem encavalada?", "type": "main", "index": 0 }]] },
    "Mensagem encavalada?": { "main": [[{ "node": "Limpar fila", "type": "main", "index": 0 }]] },
    "Limpar fila": { "main": [[{ "node": "Marcar como lida?", "type": "main", "index": 0 }]] },
    "Marcar como lida?": {
      "main": [
        [{ "node": "Marcar como lidas", "type": "main", "index": 0 }],
        [{ "node": "Concatenar mensagens", "type": "main", "index": 0 }]
      ]
    },
    "Marcar como lidas": { "main": [[{ "node": "Concatenar mensagens", "type": "main", "index": 0 }]] },
    "Concatenar mensagens": { "main": [[{ "node": "Gerar Prompt Din칙mico", "type": "main", "index": 0 }]] },
    "Gerar Prompt Din칙mico": { "main": [[{ "node": "Enviar digitando?", "type": "main", "index": 0 }]] },
    "Enviar digitando?": {
      "main": [
        [{ "node": "Enviar 'digitando...'", "type": "main", "index": 0 }],
        [{ "node": "Secret치ria IA", "type": "main", "index": 0 }]
      ]
    },
    "Enviar 'digitando...'": { "main": [[{ "node": "Secret치ria IA", "type": "main", "index": 0 }]] },
    "Secret치ria IA": { "main": [[{ "node": "Calcular delay humanizado", "type": "main", "index": 0 }]] },
    "Gemini 2.5 Pro": { "ai_languageModel": [[{ "node": "Secret치ria IA", "type": "ai_languageModel", "index": 0 }]] },
    "Memory (por cl칤nica)": { "ai_memory": [[{ "node": "Secret치ria IA", "type": "ai_memory", "index": 0 }]] },
    "Refletir": { "ai_tool": [[{ "node": "Secret치ria IA", "type": "ai_tool", "index": 0 }]] },
    "Calcular delay humanizado": { "main": [[{ "node": "Delay humanizado", "type": "main", "index": 0 }]] },
    "Delay humanizado": { "main": [[{ "node": "Parar 'digitando...'", "type": "main", "index": 0 }]] },
    "Parar 'digitando...'": { "main": [[{ "node": "Responder texto", "type": "main", "index": 0 }]] },
    "Responder texto": { "main": [[{ "node": "Reagir  mensagem?", "type": "main", "index": 0 }]] },
    "Reagir  mensagem?": { "main": [[{ "node": "Enviar rea칞칚o", "type": "main", "index": 0 }], []] },
    "Download 치udio": { "main": [[{ "node": "Converter para bin치rio", "type": "main", "index": 0 }]] },
    "Converter para bin치rio": { "main": [[{ "node": "Transcrever 치udio (Whisper)", "type": "main", "index": 0 }]] },
    "Transcrever 치udio (Whisper)": { "main": [[{ "node": "Marcar como lida", "type": "main", "index": 0 }]] },
    "Marcar como lida": { "main": [[{ "node": "Set mensagem do 치udio", "type": "main", "index": 0 }]] },
    "Set mensagem do 치udio": { "main": [[{ "node": "Gerar Prompt Din칙mico", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
