n8n-workflows/secretaria-ia-multi-tenant-v2.json
{
  "name": "Secret치ria IA - Multi-Tenant v2 (com Behavior)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secretaria-ia-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 600],
      "id": "webhook-entrada",
      "name": "Mensagem recebida",
      "webhookId": "secretaria-ia-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "id_mensagem", "value": "={{ $json.body.data.key.id }}", "type": "string" },
            { "id": "2", "name": "telefone", "value": "={{ $json.body.data.key.remoteJid.split('@').first() }}", "type": "string" },
            { "id": "3", "name": "instancia", "value": "={{ $json.body.instance }}", "type": "string" },
            { "id": "4", "name": "mensagem", "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || '' }}", "type": "string" },
            { "id": "5", "name": "mensagem_de_audio", "value": "={{ $json.body.data.message.audioMessage?.ptt || false }}", "type": "boolean" },
            { "id": "6", "name": "timestamp", "value": "={{ $json.body.data.messageTimestamp }}", "type": "number" },
            { "id": "7", "name": "fromMe", "value": "={{ $json.body.data.key.fromMe }}", "type": "boolean" },
            { "id": "8", "name": "mensagem_de_grupo", "value": "={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}", "type": "boolean" },
            { "id": "9", "name": "url_evolution", "value": "={{ $json.body.server_url }}", "type": "string" },
            { "id": "10", "name": "contact_name", "value": "={{ $json.body.data.pushName || 'Desconhecido' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 600],
      "id": "set-info",
      "name": "Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_ai_secretary_config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\" }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 600],
      "id": "buscar-config",
      "name": "Buscar Config Cl칤nica"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1060, 600],
      "id": "filter-clinica-ativa",
      "name": "Cl칤nica ativa?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "1", "leftValue": "={{ $('Info').item.json.fromMe }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } },
            { "id": "2", "leftValue": "={{ $('Info').item.json.mensagem_de_grupo }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1280, 600],
      "id": "filter-mensagem-valida",
      "name": "Mensagem v치lida?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/is_phone_blocked",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\", \"p_phone\": \"{{ $('Info').item.json.telefone }}\" }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 600],
      "id": "verificar-bloqueio",
      "name": "Verificar Bloqueio"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $json }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1720, 600],
      "id": "filter-nao-bloqueado",
      "name": "N칚o bloqueado?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "leftValue": "={{ $('Info').item.json.mensagem }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }, "id": "1" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "2", "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "츼udio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1940, 600],
      "id": "switch-tipo-mensagem",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "n8n_fila_mensagens", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime('s') }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}",
            "instancia": "={{ $('Info').item.json.instancia }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "telefone", "displayName": "telefone", "required": true, "type": "string" },
            { "id": "mensagem", "displayName": "mensagem", "required": true, "type": "string" },
            { "id": "timestamp", "displayName": "timestamp", "required": true, "type": "dateTime" },
            { "id": "id_mensagem", "displayName": "id_mensagem", "required": true, "type": "string" },
            { "id": "instancia", "displayName": "instancia", "required": true, "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2160, 500],
      "id": "enfileirar-msg",
      "name": "Enfileirar mensagem"
    },
    {
      "parameters": {
        "jsCode": "// Pega o wait_timeout da config de behavior\nconst config = $('Buscar Config Cl칤nica').first().json;\nconst waitTimeout = config.behavior?.wait_timeout_ms || 8000;\n\n// Converte ms para segundos\nconst waitSeconds = Math.ceil(waitTimeout / 1000);\n\nreturn [{ json: { wait_seconds: waitSeconds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 500],
      "id": "calc-wait-time",
      "name": "Calcular tempo de espera"
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 500],
      "id": "wait-fila",
      "name": "Esperar mensagens",
      "webhookId": "wait-fila"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "n8n_fila_mensagens", "mode": "list" },
        "returnAll": true,
        "where": {
          "values": [
            { "column": "telefone", "value": "={{ $('Info').item.json.telefone }}" },
            { "column": "instancia", "value": "={{ $('Info').item.json.instancia }}" }
          ]
        },
        "sort": { "values": [{ "column": "timestamp" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2820, 500],
      "id": "buscar-fila",
      "name": "Buscar mensagens da fila"
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  return [];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 500],
      "id": "code-encavalada",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "n8n_fila_mensagens", "mode": "list" },
        "deleteCommand": "delete",
        "where": {
          "values": [
            { "column": "telefone", "value": "={{ $('Info').item.json.telefone }}" },
            { "column": "instancia", "value": "={{ $('Info').item.json.instancia }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3260, 500],
      "id": "limpar-fila",
      "name": "Limpar fila"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.mark_as_read ?? true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3480, 500],
      "id": "check-mark-read",
      "name": "Marcar como lida?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens da fila').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3700, 400],
      "id": "marcar-lidas",
      "name": "Marcar como lidas",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "1", "name": "mensagem", "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\n') }}", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3920, 500],
      "id": "concatenar-msgs",
      "name": "Concatenar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/generate_ai_secretary_prompt",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_instance_name\": \"{{ $('Info').item.json.instancia }}\" }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4140, 500],
      "id": "gerar-prompt",
      "name": "Gerar Prompt Din칙mico"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.send_typing_indicator ?? true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4360, 500],
      "id": "check-typing",
      "name": "Enviar digitando?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/sendPresence/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"presence\": \"composing\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4580, 400],
      "id": "send-typing",
      "name": "Enviar 'digitando...'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Concatenar mensagens').item.json.mensagem }}",
        "options": {
          "systemMessage": "={{ $('Gerar Prompt Din칙mico').item.json.replace('{data_atual}', $now.format('FFFF')).replace('{telefone_paciente}', $('Info').item.json.telefone) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [4800, 500],
      "id": "agent-secretaria",
      "name": "Secret치ria IA",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [4580, 720],
      "id": "llm-gemini",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Buscar Config Cl칤nica').item.json.clinic_id + '_' + $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [4700, 720],
      "id": "memory-postgres",
      "name": "Memory (por cl칤nica)"
    },
    {
      "parameters": { "description": "Use a ferramenta para refletir sobre algo." },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [4820, 720],
      "id": "tool-refletir",
      "name": "Refletir"
    },
    {
      "parameters": { "sseEndpoint": "={{ $env.MCP_GOOGLE_CALENDAR_URL }}" },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [4940, 720],
      "id": "tool-calendar",
      "name": "MCP Google Calendar"
    },
    {
      "parameters": {
        "toolDescription": "Envia uma rea칞칚o (emoji) a uma mensagem do usu치rio. S칩 use se react_to_messages estiver habilitado.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [5060, 720],
      "id": "tool-reagir",
      "name": "Reagir mensagem"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use quando detectar situa칞칚o que precisa de aten칞칚o humana.",
        "chatId": "={{ $('Buscar Config Cl칤nica').item.json.notifications.telegram_chat_id }}",
        "text": "={{ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [5180, 720],
      "id": "tool-escalar",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "jsCode": "// Calcula delay humanizado baseado nas configs\nconst config = $('Buscar Config Cl칤nica').first().json;\nconst behavior = config.behavior || {};\n\nconst cadenceEnabled = behavior.response_cadence_enabled ?? true;\nconst minDelay = behavior.response_delay_min_ms || 1500;\nconst maxDelay = behavior.response_delay_max_ms || 4000;\nconst typingSpeed = behavior.typing_speed_cpm || 300;\n\nconst resposta = $('Secret치ria IA').first().json.output || '';\n\nlet delayMs = 0;\n\nif (cadenceEnabled) {\n  // Delay base aleat칩rio\n  const baseDelay = Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay;\n  \n  // Delay adicional baseado no tamanho da resposta (simula digita칞칚o)\n  const charsPerMs = typingSpeed / 60000; // CPM para chars por ms\n  const typingDelay = Math.min(resposta.length / charsPerMs, 5000); // Max 5s extra\n  \n  delayMs = baseDelay + typingDelay;\n}\n\n// Converte para segundos (m칤nimo 1s)\nconst delaySeconds = Math.max(1, Math.ceil(delayMs / 1000));\n\nreturn [{ json: { delay_seconds: delaySeconds, resposta: resposta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5240, 500],
      "id": "calc-response-delay",
      "name": "Calcular delay humanizado"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5460, 500],
      "id": "wait-response",
      "name": "Delay humanizado",
      "webhookId": "wait-response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/chat/sendPresence/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"presence\": \"paused\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5680, 500],
      "id": "stop-typing",
      "name": "Parar 'digitando...'"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Info').item.json.telefone }}",
        "messageText": "={{ $('Calcular delay humanizado').item.json.resposta }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [5900, 500],
      "id": "enviar-texto",
      "name": "Responder texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "1", "leftValue": "={{ $('Buscar Config Cl칤nica').item.json.behavior?.react_to_messages ?? false }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6120, 500],
      "id": "check-react",
      "name": "Reagir  mensagem?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{{ $('Buscar Config Cl칤nica').item.json.behavior?.reaction_on_greeting || '游녦' }}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6340, 400],
      "id": "send-reaction",
      "name": "Enviar rea칞칚o"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [2160, 700],
      "id": "download-audio",
      "name": "Download 치udio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [2380, 700],
      "id": "convert-audio",
      "name": "Converter para bin치rio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "pt" }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2600, 700],
      "id": "transcrever-audio",
      "name": "Transcrever 치udio (Whisper)"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "fromMe": "={{ $('Info').item.json.fromMe }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [2820, 700],
      "id": "marcar-lida-audio",
      "name": "Marcar como lida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "1", "name": "mensagem", "value": "={{ $('Transcrever 치udio (Whisper)').item.json.text }}", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3040, 700],
      "id": "set-msg-audio",
      "name": "Set mensagem do 치udio",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# Secret치ria IA v2 - Com Behavior Settings\n\n## Novas funcionalidades:\n- Delay humanizado configur치vel\n- Indicador 'digitando...' condicional\n- Marcar como lida condicional\n- Rea칞칫es autom치ticas configur치veis\n- Timeout de espera din칙mico\n\n## Configs de behavior usadas:\n- send_typing_indicator\n- mark_as_read\n- response_cadence_enabled\n- response_delay_min_ms / max_ms\n- typing_speed_cpm\n- wait_timeout_ms\n- react_to_messages\n- reaction_on_greeting",
        "height": 340,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "note-config",
      "name": "Configura칞칚o v2"
    }
  ],
  "connections": {
    "Mensagem recebida": { "main": [[{ "node": "Info", "type": "main", "index": 0 }]] },
    "Info": { "main": [[{ "node": "Buscar Config Cl칤nica", "type": "main", "index": 0 }]] },
    "Buscar Config Cl칤nica": { "main": [[{ "node": "Cl칤nica ativa?", "type": "main", "index": 0 }]] },
    "Cl칤nica ativa?": { "main": [[{ "node": "Mensagem v치lida?", "type": "main", "index": 0 }]] },
    "Mensagem v치lida?": { "main": [[{ "node": "Verificar Bloqueio", "type": "main", "index": 0 }]] },
    "Verificar Bloqueio": { "main": [[{ "node": "N칚o bloqueado?", "type": "main", "index": 0 }]] },
    "N칚o bloqueado?": { "main": [[{ "node": "Tipo de mensagem", "type": "main", "index": 0 }]] },
    "Tipo de mensagem": {
      "main": [
        [{ "node": "Enfileirar mensagem", "type": "main", "index": 0 }],
        [{ "node": "Download 치udio", "type": "main", "index": 0 }]
      ]
    },
    "Enfileirar mensagem": { "main": [[{ "node": "Calcular tempo de espera", "type": "main", "index": 0 }]] },
    "Calcular tempo de espera": { "main": [[{ "node": "Esperar mensagens", "type": "main", "index": 0 }]] },
    "Esperar mensagens": { "main": [[{ "node": "Buscar mensagens da fila", "type": "main", "index": 0 }]] },
    "Buscar mensagens da fila": { "main": [[{ "node": "Mensagem encavalada?", "type": "main", "index": 0 }]] },
    "Mensagem encavalada?": { "main": [[{ "node": "Limpar fila", "type": "main", "index": 0 }]] },
    "Limpar fila": { "main": [[{ "node": "Marcar como lida?", "type": "main", "index": 0 }]] },
    "Marcar como lida?": {
      "main": [
        [{ "node": "Marcar como lidas", "type": "main", "index": 0 }],
        [{ "node": "Concatenar mensagens", "type": "main", "index": 0 }]
      ]
    },
    "Marcar como lidas": { "main": [[{ "node": "Concatenar mensagens", "type": "main", "index": 0 }]] },
    "Concatenar mensagens": { "main": [[{ "node": "Gerar Prompt Din칙mico", "type": "main", "index": 0 }]] },
    "Gerar Prompt Din칙mico": { "main": [[{ "node": "Enviar digitando?", "type": "main", "index": 0 }]] },
    "Enviar digitando?": {
      "main": [
        [{ "node": "Enviar 'digitando...'", "type": "main", "index": 0 }],
        [{ "node": "Secret치ria IA", "type": "main", "index": 0 }]
      ]
    },
    "Enviar 'digitando...'": { "main": [[{ "node": "Secret치ria IA", "type": "main", "index": 0 }]] },
    "Secret치ria IA": { "main": [[{ "node": "Calcular delay humanizado", "type": "main", "index": 0 }]] },
    "Gemini 2.5 Pro": { "ai_languageModel": [[{ "node": "Secret치ria IA", "type": "ai_languageModel", "index": 0 }]] },
    "Memory (por cl칤nica)": { "ai_memory": [[{ "node": "Secret치ria IA", "type": "ai_memory", "index": 0 }]] },
    "Refletir": { "ai_tool": [[{ "node": "Secret치ria IA", "type": "ai_tool", "index": 0 }]] },
    "MCP Google Calendar": { "ai_tool": [[{ "node": "Secret치ria IA", "type": "ai_tool", "index": 0 }]] },
    "Reagir mensagem": { "ai_tool": [[{ "node": "Secret치ria IA", "type": "ai_tool", "index": 0 }]] },
    "Escalar humano": { "ai_tool": [[{ "node": "Secret치ria IA", "type": "ai_tool", "index": 0 }]] },
    "Calcular delay humanizado": { "main": [[{ "node": "Delay humanizado", "type": "main", "index": 0 }]] },
    "Delay humanizado": { "main": [[{ "node": "Parar 'digitando...'", "type": "main", "index": 0 }]] },
    "Parar 'digitando...'": { "main": [[{ "node": "Responder texto", "type": "main", "index": 0 }]] },
    "Responder texto": { "main": [[{ "node": "Reagir  mensagem?", "type": "main", "index": 0 }]] },
    "Reagir  mensagem?": { "main": [[{ "node": "Enviar rea칞칚o", "type": "main", "index": 0 }], []] },
    "Download 치udio": { "main": [[{ "node": "Converter para bin치rio", "type": "main", "index": 0 }]] },
    "Converter para bin치rio": { "main": [[{ "node": "Transcrever 치udio (Whisper)", "type": "main", "index": 0 }]] },
    "Transcrever 치udio (Whisper)": { "main": [[{ "node": "Marcar como lida", "type": "main", "index": 0 }]] },
    "Marcar como lida": { "main": [[{ "node": "Set mensagem do 치udio", "type": "main", "index": 0 }]] },
    "Set mensagem do 치udio": { "main": [[{ "node": "Gerar Prompt Din칙mico", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
